---
- name: Setup Remoting and StaticIP
  hosts: localhost
  tasks:

  - name: Send Powershell files to Remote
    ansible.builtin.expect:
      command: scp Setup-AnsibleRemote.ps1 {{user}}@{{ host }}:/C:/Users/{{user}}
      responses:
        {{user}}@{{host}}'s password: {{password}}
    no_log: true
---
"""
scp Setup-AnsibleRemote.ps1 Administrator@10.0.3.106:/C:/Users/Administrator
scp Set-StaticIP.ps1 Administrator@10.0.3.106:/C:/Users/Administrator
ssh Administrator@10.0.3.106 powershell.exe C:/Users/Administrator/Setup-AnsibleRemote.ps1
ssh Administrator@10.0.3.106 powershell.exe C:/Users/Administrator/Set-StaticIP.ps1
"""
---