---
dhcp_servers:
  - ip: 10.0.3.3
    name: central.winnet.local
    prefix_len: 24
    pri_dns_server: 127.0.0.1
    sec_dns_server: 8.8.8.8
    default_gateway: 10.0.3.1

dhcp_scopes:
  - name: winnet
    scope: 10.0.3.0
    server: central.winnet.local
    start: 10.0.3.240
    end: 10.0.3.245
    dns_server: 127.0.0.1
    default_gateway: 10.0.3.1
    netmask: 255.255.255.0

  - name: linnet
    scope: 10.0.4.0
    server: central.winnet.local
    start: 10.0.4.240
    end: 10.0.4.245
    dns_server: 10.0.4.104
    default_gateway: 10.0.4.1
    netmask: 255.255.255.0
