all:
  hosts:
    pfsense:
      ansible_host: 10.0.4.1
      ansible_connection: ssh
      ansible_user: admin
      ansible_password: pfsense
  children:
    winnet:
      hosts:
        domain_controller_ssh:
          ansible_host: 10.0.3.100
          ansible_user: Administrator
          ansible_ssh_pass: P0gword
          ansible_connection: ssh
          ansible_shell_type: cmd
        domain_controller:
          ansible_host: 10.0.3.100
          ansible_user: Administrator
          ansible_password: P0gword
          ansible_connection: winrm
          ansible_winrm_transport: basic
          ansible_winrm_server_cert_validation: ignore
          hostname: central
      vars:
        domain_name: winnet.local
    linnet:
      hosts:
        ipa_server:
          ansible_host: 10.0.4.100
          ansible_user: root
          ansible_password: morbin
          ipaserver_domain: linnet.local
          ipaserver_realm: LINNET.LOCAL
          ipaserver_setup_dns: yes
          ipaserver_auto_forwarders: yes
          ipaadmin_password: P0gword1
          ipadm_password: P0gword1
        apex:
          ansible_host: 10.0.2.4
          ansible_user: root
          ansible_password: morbin
