netsh dhcp add securitygroups | Out-Null

Add-DhcpServerInDC -DnsName {{dhcp_server.name}} -IPAddress {{dhcp_server.ip}}
Get-DhcpServerInDC
{% for scope in dhcp_scopes %}
Add-DhcpServerv4Scope -Name "{{scope.name}}" -StartRange {{scope.start}} -EndRange {{scope.end}} -SubnetMask {{scope.netmask}} -State Active
Set-DhcpServerv4OptionValue -ComputerName "{{scope.server}}" -ScopeId {{scope.scope}} -DnsServer {{scope.dns_server}} -Router {{scope.default_gateway}}
{% endfor %}
Restart-Service dhcpserver