---
- name: Make AD Users
  hosts: domain_controller
  tasks:

  {% for user in dadmins%}
  - name: Ensure Domain Admin is created and use custom credentials to create the user
    community.windows.win_domain_user:
      name: {{ user.name }}
      firstname: {{ user.firstname }}
      surname: {{ user.surname }}
      password: {{ user.password }}
      state: present
      groups:
        - Domain Admins
  - name: Ensure Domain Admin exists
    community.windows.win_domain_user:
      name: {{ user.name }}
      state: query
  {% endfor %}
  {% for user in dusers%}
  - name: Ensure User is created and use custom credentials to create the user
    community.windows.win_domain_user:
      name: {{ user.name }}
      firstname: {{ user.firstname }}
      surname: {{ user.surname }}
      password: {{ user.password }}
      state: present
  - name: Ensure User exists
    community.windows.win_domain_user:
      name: {{ user.name }}
      state: query
  {% endfor %}
