---
- name: Setup Remoting
  hosts: domain_controller_ssh
  tasks:

  - name: Send Powershell files to Remote
    ansible.windows.win_copy:
      src: /home/morb/NSSA-320/scripts/ConfigureRemotingForAnsible.ps1
      dest: C:\Users\Administrator\ConfigureRemotingForAnsible.ps1
  - name: Run remote PowerShell Script
    win_command: powershell.exe -ExecutionPolicy ByPass -File C:\Users\Administrator\ConfigureRemotingForAnsible.ps1
